:root {
    --foreground: #605A52;
    --background: #FCFBF9;
    --background-alt: #F7F3EE;
    --purple: #83577D;
    --blue: #556995;
    --teal: #477A7B;
    --orange: #886A44;
    --green: #747B4D;
    --red: #8F5652;
}

body {
  max-width: 40rem;
  background-color: var(--background);
  color: var(--foreground);
  margin: 2rem auto;
  font-family: "Goudy Old Style", serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                 "Helvetica Neue", sans-serif;
    border-bottom: 3px double var(--background-alt);
}

header, header > h1, header > h2 {
    display: flex;
    border: none;
}

header {
    justify-content: space-between;
}

nav {
    border-top: 3px double var(--background-alt);
    border-bottom: 3px double var(--background-alt);
}

nav > ul > li:hover {
    background-color: var(--orange);
    color: var(--background);
    transition-property: background-color color;
    transition-duration: 0.5s;
}

nav > ul > li:hover a {
    color: var(--background);
    border-bottom: 1px solid var(--background);
    transition-property: color border-bottom;
    transition-duration: 0.5s;
}

.linklist > ul, nav > ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.linklist > ul > li, nav > ul > li {
    display: flex;
    text-transform: uppercase;
    padding: 1rem;
}

img {
    border: 2px double var(--foreground);
    border-radius: 1rem;
    filter: sepia(50%);
    transition-property: filter;
    transition-duration: 0.5s;
    margin: 0 auto;
    width: 100%;
}

img:hover {
    filter: none;
}

a {
  color: var(--blue);
  text-decoration: none;
  border-bottom: 1px dotted var(--blue);
}

a:visited {
  color: var(--purple);
  text-decoration: none;
  border-bottom: 1px double var(--purple);
}

footer {
    border-top: 1px double var(--background-alt);
    padding-top: 1rem;
}

.icon {
    font-family: "Twemoji Mozilla",
               "Apple Color Emoji",
               "Segoe UI Emoji",
               "Segoe UI Symbol",
               "Noto Color Emoji",
               "EmojiOne Color",
               "Android Emoji";
}
